@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap%27');

:root{
    --cor0: #d1e5fc;
    --cor1: #167BF0;
    --corForte: #1963F7;
    --corForteHover: #0354f6;
    --corSuccess: #1c5e06;
    --fonte1: 'Roboto Condensed', sans-serif;
    --fontePadrao: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte1);
}

header{
    /*background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));*/
    background-color: var(--cor1);
    min-height: 55px;
    text-align: center;
    padding-top: 15px;
}

header > h1{
    color: black;
    font-family: var(--fonte1);
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
}

.principal{
    margin: 5px 2rem;
}

.principal > p{
    margin-top: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.principal > h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.diametro{
    margin-top: 7px;
}

.titulo-principal{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.btnCalcula {
    margin-left: 10px;
    border: none;
    border-radius: 5px;

    height: 40px;
    width: 140px;

    font-size: 14px;
    font-style: bold;
    color: var(--cor0);

    background-color: var(--cor1);
}

.btnCalcula:hover {
    margin-left: 10px;
    border: none;
    border-radius: 5px;

    height: 40px;
    width: 140px;

    font-size: 14px;
    font-style: bold;
    color: var(--cor0);

    background-color: var(--corForteHover);
    transition: 0.4s;
}

.btnCalculaTensaoMaxima {
    margin: 10px 0;
    border: none;
    border-radius: 5px;

    height: 30px;
    width: 255px;

    font-size: 14px;
    font-style: bold;
    color: var(--cor0);

    background-color: var(--cor1);
}

.btnCalculaTensaoMaxima:hover {
    margin: 10px 0;
    border: none;
    border-radius: 5px;

    height: 30px;
    width: 255px;

    font-size: 14px;
    font-style: bold;
    color: var(--cor0);

    background-color: var(--corForteHover);
    transition: 0.4s;
}

.content__transversal-btn {
    display: flex;
    align-items: center;

    margin-top: 0.75rem;
}

.transversal{
    display: block;
    font-size: 1.5rem;
    margin-top: 0.75rem;
    padding: 5px;
}

.input__btn {
    font-size: 1.5rem;
    padding: 5px;
}

#respostaTensao{
    margin-top: 8px;
}

.variacaoComprimento{
    margin-top: 5px;
    margin-bottom: 5px;
}

#variacaoComprimento{
    margin-top: 5px;
    margin-bottom: 5px;
}

.coefSeg{
    margin-bottom: 5px;
    margin-top: 5px;
}

#respostaTensaoAdmissivel{
    margin-bottom: 7px;
    margin-top: 7px;
}

.div-lado-a-lado{
    display: inline-block;

    vertical-align: top; /* <---- this */
}

footer {
    text-align: center;
    background-color: var(--cor1);
    padding: 7.5px;
}

footer > p{
    color: black;
    font-family: var(--fonte1);
    font-size: 1em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
    font-weight: bold;
}

.secao2 {
    margin: 5px 2rem;
}

.secao3 {
    margin: 5px 2rem;
}

.secao4 {
    margin: 5px 2rem;
}

.principal__content-result {
    margin: 5px 0px 20px;
}

.principal__valor-tensao {
    font-size: 1.10rem;
    font-style: bold;
    color: var(--corSuccess);
}

.divider {
    border-top: 2px solid var(--corSuccess);
}

.item {
    font-size: 1.25rem;
    margin: 15px 25px;
}

#localizacaoForcaNaViga {
    margin: 5px 0;
    height: 25px;
    width: 200px;

    padding: 5px;

    font-size: 1rem;
}

#intensidadeForca {
    margin: 5px 0;
    height: 25px;
    width: 200px;

    padding: 5px;

    font-size: 1rem;
}

.titulo-inputs {
    margin-top: 15px;
}

.inputItem {
    margin: 5px 0;
    height: 25px;
    width: 200px;

    padding: 5px;

    font-size: 1rem;
}